{% extends 'base3.html.twig' %}

{% block name %}
         

  <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="container">
               {% for message in app.flashes('notice') %}
    
    <div class="alert alert-success" role="alert">
  {{ message }}
</div>
{% endfor %} 
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-6">
                        <div class="slider_text">
                            <h5 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">4536+ Metiers fourni</h5>
                            <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">chercher votre service</h3>
                            <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">Nous fournissons des plusieyrs  servie instantanés en ligne ...............</p>
                            <div class="sldier_btn wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ilstration_img wow fadeInRight d-none d-lg-block text-right" data-wow-duration="1s" data-wow-delay=".2s">
            <img src="img/banner/illustration.png" alt="">
        </div>
    </div>
    <!-- slider_area_end -->

  

    <!--/ catagory_area -->





    <!-- popular_catagory_area_start  -->
    <div class="popular_catagory_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title mb-40">
                        <h3>Catégories popolaires</h3>
                    </div>
                </div>
            </div>
       
            <div class="row">
                       {% for metier in metiers %}       
                <div class="col-lg-4 col-xl-3 col-md-6">
                   
                    <div class="single_catagory">
                        <a href="{{ path('app_list',{'id':metier.id})}}"><h4>{{metier.titre}}</h4></a>
                    <p> <span>{{ nb }} </span> {{metier.titre}} </p>
                    </div>
                </div>
                {% endfor %}
            </div>
                    
            
             
        </div>
    </div>
    <!-- popular_catagory_area_end  -->

 

    <!-- featured_candidates_area_start  -->
    <div class="featured_candidates_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center mb-40">
                        <h3>Actualité</h3>
                    </div>
                </div>
            </div>
             {% for act in actualite %} 
            <div class="row">
        
                <div class="col-lg-12">
                    <div class="candidate_active owl-carousel">
                    
                        <div class="single_candidates text-center">
                           
                            <div class="thumb">
                             <img src="/uploads/images/trav/{{act.image}}" alt="">
                            </div>
                            <a href="{{path('app_categories')}}"><h4>{{act.titre}}</h4></a>
                            <p>**********</p>

                            
                        </div>
                    
                    </div>
                </div>
                  
            </div>
              {% endfor %}  
        </div>
    </div>
    <!-- featured_candidates_area_end  -->

    <div class="top_companies_area">
        <div class="container">
            <div class="row align-items-center mb-40">
                <div class="col-lg-6 col-md-6">
                    <div class="section_title">
                        <h3>Companies</h3>
                    </div>
                </div>
               
            </div>
            <div class="row">
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_company">
                        <div class="thumb">
                            <img src="img/svg_icon/5.svg" alt="">
                        </div>
                        <a href="jobs.html"><h3>Companie1</h3></a>
                        
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_company">
                        <div class="thumb">
                            <img src="img/svg_icon/4.svg" alt="">
                        </div>
                        <a href="jobs.html"><h3>Companie2</h3></a>
                       
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_company">
                        <div class="thumb">
                            <img src="img/svg_icon/3.svg" alt="">
                        </div>
                        <a href="jobs.html"><h3>Companie3</h3></a>
                   
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_company">
                        <div class="thumb">
                            <img src="img/svg_icon/1.svg" alt="">
                        </div>
                        <a href="jobs.html"><h3>Companie4</h3></a>
                  
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- job_searcing_wrap  -->
    <div class="job_searcing_wrap overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 offset-lg-1 col-md-6">
                    <div class="searching_text">
                        <h3>À la recherche d'un service?</h3>
                        <p>Nous fournissons des prêts de service instantanés en ligne avec une approbation rapide</p>
                        <a href="{{ path('app_categories')}}" class="boxed-btn3">Parcourir les catégories</a>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-6">
                    <div class="searching_text">
                        <h3>À la recherche d'un Trvailleur</h3>
                        <p>Nous fourrnissons des travailleurs dans le domaine que tu plait </p>
                        <a href="#" class="boxed-btn3">Avoir un service</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- job_searcing_wrap end  -->

    <!-- testimonial_area  -->
    <div class="testimonial_area  ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center mb-40">
                        <h3>Citations</h3>
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="testmonial_active owl-carousel">
                        <div class="single_carousel">
                            <div class="row">
                                <div class="col-lg-11">
                                    <div class="single_testmonial d-flex align-items-center">
                                        <div class="thumb">
                                            <img src="img/testmonial/author.png" alt="">
                                            <div class="quote_icon">
                                                <i class="Flaticon flaticon-quote"></i>
                                            </div>
                                        </div>
                                        <div class="info">
                                            <p>“La chance aide parfois, le travail toujours.”</p>
                                            <span>- Robert Sabatier</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_carousel">
                            <div class="row">
                                <div class="col-lg-11">
                                    <div class="single_testmonial d-flex align-items-center">
                                        <div class="thumb">
                                            <img src="img/testmonial/author.png" alt="">
                                            <div class="quote_icon">
                                                <i class=" Flaticon flaticon-quote"></i>
                                            </div>
                                        </div>
                                        <div class="info">
                                            <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering through animal welfare when people might depend on livestock as their only source of income or food.</p>
                                            <span>- Micky Mouse</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_carousel">
                            <div class="row">
                                <div class="col-lg-11">
                                    <div class="single_testmonial d-flex align-items-center">
                                        <div class="thumb">
                                            <img src="img/testmonial/author.png" alt="">
                                            <div class="quote_icon">
                                                <i class="Flaticon flaticon-quote"></i>
                                            </div>
                                        </div>
                                        <div class="info">
                                            <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering through animal welfare when people might depend on livestock as their only source of income or food.</p>
                                            <span>- Micky Mouse</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /testimonial_area  -->


{% endblock %}