
{% extends 'base3.html.twig' %}


{% block name %}
<!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Détails</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="job_details_header">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                
                                <img src="/uploads/images/trav/{{travailleur.image}}" alt="">
                                
                                <div class="jobs_conetent">
                                    <a href="#"> <h4>{{travailleur.nom}} {{travailleur.prenom}}</h4></a>
                                    <div class="links_locat d-flex align-items-center">
                                        <div class="location">
                                            <p> <i class="fa fa-map-marker"></i> {{travailleur.lieu}}</p>
                                          
                                        </div>
                                         <div class="location">
                                          
                                            <p> <i class="fa fa-envelope-o"></i> {{travailleur.email}}</p>
                                        </div>
                                          <div class="location">
                                          
                                            <p> <i class="fa fa-phone"></i> {{travailleur.telph}}</p>
                                        </div>
                                     
                                    </div>
                                </div>
                            </div>
                         
                        </div>
                    </div>
                    <div class="descript_wrap white-bg">
                        <div class="single_wrap">
                            <h4>description</h4>
                            <p> {{travailleur.description}} </p>
                        </div>
                        <div class="single_wrap">
                            <h4>Formation</h4>
                            <ul>
                                <li>{{travailleur.formation}}
                                </li>
                              
                            </ul>
                        </div>
                        <div class="single_wrap">
                            <h4>Expérience professionelles</h4>
                            <ul>
                                <li>{{travailleur.experiance}}
                                </li>
                              
                            </ul>
                        </div>
                        <div class="single_wrap">
                            <h4>conditions</h4>
                            <p>{{travailleur.condi}}</p>
                        </div>
                    </div>
                
                   <div class="apply_job_form white-bg">
                        <h4>Avoir le service </h4>
                        
                            <div class="form">
                                
                                
                               {{ form_start(monform) }}
                                 
                                     <div class="col-md-12">
                                        <div class="input_field">
                                           {{ form_widget(monform.email) }}
                                         </div>
                                    </div>
                               
                                  <div class="col-md-12">
                                     <div class="input_field">
                                          {{ form_widget(monform.addresse) }}
                                      </div>
                                  </div>
                                     <div class="col-md-12">
                                     <div class="input_field">
                                          {{ form_widget(monform.message) }}
                                      </div>
                                  </div>
                                    
                                           {{form_widget(monform.travailleur,{'value':travailleur.id}) }}
                                
                                
                                     
                                          
                                        
                                               {{ form_row(monform.utilisateur,{'value':app.user.id})}}

                                         
                                    
  

                                
                                      <input type="submit"   class="boxed-btn3 w-100" value="Ajouter">
                               
                               
                                 {{ form_end(monform) }}

                            </div>
                        
                        

                    </div>
                   
                </div>

                    
                    
                    
                <div class="col-lg-4">
                    <div class="job_sumary">
                        <div class="summery_header">
                            <h3>Résumé du travail</h3>
                        </div>
                        <div class="job_content">
                            <ul>
                                <li>Publié le: <span>{{travailleur.createdAt | date("d/m/Y")}}</span></li>
                                <li>Salaire: <span>30-50DT</span></li>
                                <li>Lieu: <span>{{travailleur.lieu}}</span></li>
                                <li>Nature du travail: <span> À temps plein</span></li>
                            </ul>
                        </div>
                    </div>
                 
                 

                         <div class="share_wrap d-flex">
                        <span>Voir les Comaintaires </span>
                        <ul>
                            <li><a href="{{ path('app_comentaire',{'id':travailleur.id})}}"> <i class="fa fa-plus"></i></a> </li>
                           
                    </div>

                </div>

                  


                


























                
            </div>
        </div>
    </div>
{% endblock %}


   